root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

# Source: https://biomejs.dev/guides/how-biome-works/#protected-files
# To ensure consistent indent size with Biome (package.json is ignored by Biome):
[package.json]
indent_size = 2
